* {
background-color:#1b1b1b;
color: white;

}


body {
max-width: 900px;
margin: auto;

}
time {
color:gray
}

h3 {
text-align: center;
color:olivedrab;
font-size: 20pt ;

}

a {
color:aqua;
text-decoration:none;

}

hr {
margin: 1em;  
}

.two-column-list {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items into multiple rows */
    justify-content: space-between;
  }
  .two-column-list li {
    flex: 1 0 40%; /* Each list item takes up 50% width */
    list-style-type: none; /* Removes default bullet points */
    padding: 5px; /* Optional: Adjust spacing between items */
  }

.subtitle {



}  

.subsubtitle {
color:tan;
font-size: 16pt;
}

.headline {

font-size: 30pt;

}

#title {
text-align: center;
color:olivedrab;
font-size: 38pt;

}

#welcome {
text-align: center;


}

#articles {
text-align: left;
list-style-type: disc;
margin-left: 150px;
font-size: larger;
}

#pfp {
display: block;
margin:auto;
width: 30%;
height:auto;
padding: 0;
margin-bottom: 16px;
}

#bookjak {
  display: block;
  margin:auto;
  width: 50%;
  height:auto;
  padding: 0;
  margin-bottom: 30px;
  }
  